<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 com rescap">

  <Identity
    Name="MemoryWidgetProvider.Package"
    Publisher="CN=MemoryWidgetProvider"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>Memory Widget Provider</DisplayName>
    <PublisherDisplayName>Memory Widget Provider</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.22621.0" MaxVersionTested="10.0.26200.0" />
    <PackageDependency
      Name="Microsoft.WindowsAppRuntime.1.8"
      MinVersion="8000.0.0.0"
      Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  </Dependencies>

  <Resources>
    <Resource Language="zh-cn" />
  </Resources>

  <Applications>
    <Application
      Id="MemoryWidgetProviderApp"
      Executable="MemoryWidgetProvider\MemoryWidgetProvider.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Memory Widget Provider"
        Description="Windows 11 内存占用小组件"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
      </uap:VisualElements>

      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="MemoryWidgetProvider\MemoryWidgetProvider.exe" DisplayName="MemoryWidgetProvider">
              <com:Class Id="824bd5b6-df37-41c4-9b53-63c38c34d71d" DisplayName="MemoryWidgetProvider" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>

        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="com.microsoft.windows.widgets" DisplayName="Memory Widget Provider" Id="MemoryWidgetProvider" PublicFolder="Public">
            <uap3:Properties>
              <WidgetProvider>
                <ProviderIcons>
                  <Icon Path="Images\Square44x44Logo.png" />
                </ProviderIcons>
                <Activation>
                  <CreateInstance ClassId="824bd5b6-df37-41c4-9b53-63c38c34d71d" />
                </Activation>
                <TrustedPackageFamilyNames>
                  <TrustedPackageFamilyName>Microsoft.MicrosoftEdge.Stable_8wekyb3d8bbwe</TrustedPackageFamilyName>
                  <TrustedPackageFamilyName>MicrosoftWindows.Client.WebExperience_cw5n1h2txyewy</TrustedPackageFamilyName>
                  <TrustedPackageFamilyName>Microsoft.WidgetsPlatformRuntime_8wekyb3d8bbwe</TrustedPackageFamilyName>
                </TrustedPackageFamilyNames>
                <Definitions>
                  <Definition Id="Memory_Usage_Widget" DisplayName="内存占用率" Description="查看系统内存实时占用" AllowMultiple="true">
                    <Capabilities>
                      <Capability>
                        <Size Name="small" />
                      </Capability>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="ProviderAssets\Memory_Icon.png" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="ProviderAssets\Memory_Screenshot.png" DisplayAltText="内存占用率小组件预览" />
                      </Screenshots>
                      <DarkMode />
                      <LightMode />
                    </ThemeResources>
                  </Definition>
                </Definitions>
              </WidgetProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
